<div class="category-filter filter-box">
  <p><strong>Category</strong></p>
  <p class="filter-options">
    <span class="filter-button">
      <%= link_to "All", tickets_path, class: "btn btn-default btn-sm" %>
    </span>
    <span class="filter-button">
      <%= link_to "Sports",
        tickets_path(category: "Sports"),
        class: "btn btn-default btn-sm" %>
    </span>
    <span class="filter-button">
      <%= link_to "Music",
        tickets_path(category: "Music"),
        class: "btn btn-default btn-sm" %>
    </span>
    <span class="filter-button">
      <%= link_to "Theater",
        tickets_path(category: "Theater"),
        class: "btn btn-default btn-sm" %>
    </span>

    <span class="filter-button">
      <%= link_to "Education",
        tickets_path(category: "Education"),
        class: "btn btn-default btn-sm" %>
    </span>
    <span class="filter-button">
      <%= link_to "Hardware",
        tickets_path(category: "Hardware"),
        class: "btn btn-default btn-sm" %>
    </span>
    <span class="filter-button">
      <%= link_to "Shopping",
        tickets_path(category: "Shopping"),
        class: "btn btn-default btn-sm" %>
    </span>

    <span class="filter-button">
      <%= link_to "Outdoors",
        tickets_path(category: "Outdoors"),
        class: "btn btn-default btn-sm" %>
    </span>
    <span class="filter-button">
      <%= link_to "Dance",
        tickets_path(category: "Dance"),
        class: "btn btn-default btn-sm" %>
    </span>
    <span class="filter-button">
      <%= link_to "Opera",
        tickets_path(category: "Opera"),
        class: "btn btn-default btn-sm" %>
    </span>

    <span class="filter-button">
      <%= link_to "Concert",
        tickets_path(category: "Concert"),
        class: "btn btn-default btn-sm" %>
    </span>
    <span class="filter-button">
      <%= link_to "Active",
        tickets_path(category: "Active"),
        class: "btn btn-default btn-sm" %>
    </span>
    <span class="filter-button">
      <%= link_to "Technology",
        tickets_path(category: "Technology"),
        class: "btn btn-default btn-sm" %>
    </span>

    <span class="filter-button">
      <%= link_to "Health",
        tickets_path(category: "Health"),
        class: "btn btn-default btn-sm" %>
    </span>
    <span class="filter-button">
      <%= link_to "History",
        tickets_path(category: "History"),
        class: "btn btn-default btn-sm" %>
    </span>
    <span class="filter-button">
      <%= link_to "Adventure",
        tickets_path(category: "Adventure"),
        class: "btn btn-default btn-sm" %>
    </span>
  </p>
</div>
